/*.iml
/dist
/tmp
/temp
.idea
*.log
/conf/logging.properties
/conf/brs.properties
/conf/node.properties
_config.yml
/html/ui/doc/*
/html/ui/phoenix/*
target
*.prefs
.project
.classpath
/burst_db/*
/db/*
/conf-tests/
*.zip
*.jar
*.hprof

#ignore everything in here by default, but settings.json is already committed
#and so will remain tracked
**/.vscode

/.gradle/
/build/
/bin/
launch.json

