body {
  font-family: "Titillium Web", sans-serif;
}

.default-container {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-bottom: 2rem;
}

.default-cards-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem 0rem;
  margin-top: 2rem;

  @media (max-width: 600px) {
    justify-content: center;
    gap: 1rem;
  }
}
